* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --color-1: #ffffff;
  --color-2: #9893DA;
}
body {
 background: #f4f4f4;
}
svg{
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar{
  display: none;
}
.main-header{
  width: 100%;
  height: 70px;
  padding: 10px;
  background: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px #0000000a;
  position: fixed;
  top: 0;
  z-index: 99;
}
.main-header h2{
  color: var(--color-2);
}
.main-header #right-header{
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-header #right-header button.search-btn{
  width: 35px;
  height: 35px;
  background-color: var(--color-2);
  fill: var(--color-1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.main-header #right-header button.search-btn svg{
  fill: var(--color-1);
}
.main-header #right-header .you{
  width: fit-content;
  height: 35px;
  padding: 8px 8px;
  background: var(--color-2);
  color: var(--color-1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 19px;
  cursor: pointer;
}
.main-header #right-header .you svg{
  fill: var(--color-1);
}

.sections{
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  display: flex;
}
.sections aside.nav-menu{
  flex-basis: 300px;
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
}
.sections aside.nav-menu .ul_list{
  width: 100%;
  padding: 10px;
  background: var(--color-1);
  border-radius: 10px;
}
.sections aside.nav-menu .ul_list li{
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  height: 45px;
  color: gray;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 40px;
  font-size: 19px;
  transition: .3s ease-in-out;
}
.sections aside.nav-menu .ul_list li:nth-child(1){
  background: var(--color-2);
  color: var(--color-1);
  justify-content: space-between;
}
.sections aside.nav-menu .ul_list li:nth-child(1) span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sections aside.nav-menu .ul_list li:hover{
  background: var(--color-2);
  color: var(--color-1);
}
.sections .main{
  width: 100%;
  padding: 10px;
  margin-top: 70px;
  padding-bottom: 80px;
  position: relative;
  border-left: 2px solid #80808046;
}
.main .search_card{
  width: 100%;
  height: fit-content;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  overflow: hidden;
  transition: .3s ease;
}
.main .search_card input{
  width: 100%;
  border: none;
  padding: 15px 10px;
  background: var(--color-1);
  border-radius: 10px;
}
.main .cards{
  width: 100%;
  height: 100vh;
  padding: 10px;
  margin: 10px 0;
  overflow: scroll;
}
.main .cards .card{
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color-1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.main .cards .card .left-card{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.main .cards .card .left-card p:nth-child(1){
  width: 44px;
  height: 44px;
  background-color: var(--color-2);
  color: var(--color-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.main .cards .card .items{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main .cards .card .items p:nth-child(1) svg{
  width: 25px;
  height: 25px;
  color: var(--color-2);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main .cards .card .items p:nth-child(2){
  background-color: var(--color-2);
  color: var(--color-1);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.add-section{
  width: 100%;
  height: 100vh;
  padding: 20px;
  background: #0000003a;
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.add-section .form{
  flex-grow: 1;
  max-width: 400px;
  background-color: var(--color-1);
  border-radius: 10px;
}
.add-section .form h2{
  width: 100%;
  padding: 10px;
  color: var(--color-2);
  text-align: center;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-section .form h2 svg{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.add-section .form div.inputs{
  width: 100%;
  height: fit-content;
  padding: 5px 10px;
  font-size: 18px;
}
.add-section .form div.inputs div.input{
  width: 100%;
  margin: 10px 0;
}
.add-section .form div.inputs div.input p{
  padding: 3px 0;
}
.add-section .form div.inputs div.input input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.add-section .form div.inputs div.input input[type="text"]{
  border: 1px solid gray;
  outline: 1.5px solid transparent;
  transition: .3s linear;
}
.add-section .form div.inputs div.input input[type="text"]:focus,
  .add-section .form div.inputs div.input input[type="text"]:hover{
  border-color: var(--color-2);
  outline-color: #9893da91;
}
.add-section .form div.inputs div.input input[type="button"]{
  border: none;
  font-size: 19px;
  background-color: var(--color-2);
  color: var(--color-1);
  cursor: pointer;
}
.add-section .message_add{
  width: fit-content;
  height: 70px;
  background-color: var(--color-2);
  padding: 10px 20px;
  color: var(--color-1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transform: scale(0);
  transition: .3s linear;
  overflow: hidden;
}
.add-section .message_add::before{
  content: "";
  width: 100%;
  height: 5px;
  background: #b5b0ff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.add-section .message_add::after{
  content: "";
  width: 100%;
  height: 5px;
  background: #9bfa68;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 1.5s ease-in;
}
.add-section .message_add.active-message{
  transform: scale(1);
  transform: translateY(0%);
  top: 10px;
}
.add-section .message_add.active-message::after{
  width: 0%;
}
.more_info{
  width: 100%;
  height: 100vh;
  background: #53535375;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 991;
}
.more_info .info-card{
  flex-grow: 1;
  max-width: 300px;
  height: fit-content;
  padding: 5px;
  background: var(--color-1);
  border-radius: 10px;
}
.more_info .info-card .person{
  width: 100%;
  height: 80px;
  background-color: var(--color-2);
  border-radius: 10px;
  position: relative;
}
.more_info .info-card .person span{
  width: 70px;
  height: 70px;
  background: var(--color-2);
  color: var(--color-1);
  font-size: 20px;
  border-radius: 50%;
  border: 5px solid var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.more_info .info-card .details{
  width: 100%;
  padding-top: 50px;
  font-size: 19px;
}
.more_info .info-card .details p{
  width: 100%;
  color: var(--color-2);
  padding: 10px;
  border-top: 2px solid #e1e1e1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.more_info .info-card .details p span{
  color: gray;
  font-size: 16px;
  padding: 0 10px;
}
.more_info .info-card .person .closeMore{
  width: 30px;
  height: 30px;
  color: var(--color-1);
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  cursor: pointer;
}
@media only screen and (max-width: 702px) {
  .nav-menu{
    width: 100%;
    height: 70px !important;
    padding: 0 !important;
    position: fixed;
    bottom: 0;
    z-index: 99;
  }
  .nav-menu .ul_list{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  .nav-menu .ul_list li{
    width: fit-content !important;
  }
  .nav-menu .ul_list li span{         
    display: none;
  }
  .main .cards .card  p{
    font-size: 15px;
  }
  .main .cards .card .items  p span{
    display: none;
  }
}